Repository jhnc-oss/protos, pull requests merged in 2025-05, with the labels that each got.

#51 update python3-crudini to 0.9.6
  meta-protos/meta-python/recipes-core/python/python3-crudini/python3-crudini_0.9.6.bb
Labels: recipe: update

#52 Remove outdated extra-cmake-modules
  meta-protos/recipes-devtools/extra-cmake-modules/extra-cmake-modules.inc
  meta-protos/recipes-devtools/extra-cmake-modules/extra-cmake-modules_5.102.0.bb
Labels: recipe: removal

#53 update recipes-oss to latest versions
  meta-protos/meta/conf/layer.conf
  meta-protos/recipes-oss/cppcheck/cppcheck_2.17.1.bb
  meta-protos/recipes-oss/debugpy/debugpy_1.8.14.bb
  meta-protos/recipes-oss/libdmtx/libdmtx_0.7.8.bb
  meta-protos/recipes-oss/libspnav/libspnav_1.2.bb
  meta-protos/recipes-oss/nlopt/nlopt_2.10.0.bb
Labels: enhancement, recipe: update
