Repository jhnc-oss/protos, pull requests merged in 2025-01, with the labels that each got.

#37 Remove python3-pytest backport
  meta-protos/recipes-devtools/python/backport.md
  meta-protos/recipes-devtools/python/python3-pytest_7.4.4.bb
Labels: recipe: removal

#35 Update Catch 3.8.0
  meta-protos/meta-oe/recipes-test/catch3/catch3_3.8.0.bb
Labels: recipe: update

#39 CI improvements
  .github/workflows/ci.yml
  .oelint-ignore
  meta-protos/recipes-core/images/protos-core-sdk.bb
Labels: ci, enhancement

#40 Remove python3-paramiko and python3-pynacl recipe
  meta-protos/meta-python/recipes-devtools/python3-paramiko/python3-paramiko.inc
  meta-protos/meta-python/recipes-devtools/python3-paramiko/python3-paramiko_3.1.0.bb
  meta-protos/meta-python/recipes-devtools/python3-pynacl/python3-pynacl.inc
  meta-protos/meta-python/recipes-devtools/python3-pynacl/python3-pynacl_1.5.0.bb
Labels: recipe: removal

#43 Update year
  LICENSE
Labels: documentation

#47 Update python3-rpyc 6.0.1
  meta-protos/meta-python/recipes-devtools/python3-rpyc/python3-rpyc/0001-fix_pyprojecttoml_license.patch
  meta-protos/meta-python/recipes-devtools/python3-rpyc/python3-rpyc/0001-remove_unknown_classifier.patch
  meta-protos/meta-python/recipes-devtools/python3-rpyc/python3-rpyc_6.0.1.bb
Labels: recipe: update

#46 Update python3-plumbum 1.9.0
  meta-protos/meta-python/recipes-devtools/python3-plumbum/python3-plumbum_1.8.1.bb
  meta-protos/meta-python/recipes-devtools/python3-plumbum/python3-plumbum_1.9.0.bb
Labels: recipe: update

#48 Unbreak python3-exceptiongroup
  meta-protos/meta-python/recipes-devtools/python3-exceptiongroup/python3-exceptiongroup_1.2.0.bb
  meta-protos/meta-python/recipes-devtools/python3-flit-scm/python3-flit-scm.inc
  meta-protos/meta-python/recipes-devtools/python3-flit-scm/python3-flit-scm_1.7.0.bb
Labels: recipe: new, recipe: update
